@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oranienbaum&family=Oswald:wght@200;400;500&display=swap');
/*
* {

  padding: 0;
}

.body {
  overflow: scroll;
  margin: 0 auto;
  height: 100%;
}
*/
h1 {
  color: #62707e;
  font-family: 'Oranienbaum', serif;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

p {
  min-height: 1rem;
  margin-top: 1rem;
  font-weight: 300;
  color: #62707e;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
}

ul {
  min-height: 1rem;
  margin-top: 1rem;
  font-weight: 300;
  color: #62707e;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
}

.icon {
  margin-right: 0.5rem;
}
.subMenu {
  color: #1d425d !important;
}
.home-component {
  background-color: #1d425d;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  text-align: center;
}

.main-page-content {
  margin-bottom: -7rem;
  margin-top: 0.5rem;
  grid-area: main;
  padding: 2rem;
  text-align: left;
  background-color: transparent;
}

.three-column-page {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  grid-area: main;
  padding: 2rem;
  text-align: left;
}
.three-column-page-text {
  width: 100%;
}

.three-column-page-image-container {
  width: 100%;
  top: -15%;
  margin-right: 10%;
  height: 100%;
}

.form-input:focus {
  outline: none;
  border: 2px solid #d0c6b7;
  border-radius: 6px;
  background-color: #f3f3f1;
}

.form-input {
  margin: 10px 0 1rem 1rem;
  border: 1px solid #d0c6b7;
  border-radius: 6px;
}
.text-area {
  font-weight: 300;
  color: #62707e;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
  margin: 10px 0 10px 0;
  border-radius: 6px;
  border: 1px solid #d0c6b7;
}

.text-area:focus,
.text-area:active {
  outline: none;
  background-color: #f3f3f1;
  border: 1px solid #d0c6b7;
}

.form-label {
  font-weight: 300;
  color: #62707e;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
}
/*///////////////////*/
@media screen and (min-width: 850px) {
  .main-page-content {
    margin-top: 10rem;
    grid-area: main;
    padding-right: 4rem;
  }

  .three-column-page {
    justify-content: space-around;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    padding: 0 0.2rem 0 2.5rem;
    text-align: left;
  }

  .three-column-page-text {
    width: 80%;
  }

  .three-column-page-image-container {
    top: -15%;
    margin-right: 5%;
    contain: content;
    height: 100%;
    width: 80%;
  }
  .home-component {
    background-color: #1d425d;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .three-column-page {
    flex-direction: row;
    text-align: left;
  }

  .three-column-page-text {
    width: 90%;
    margin-right: 10%;
  }

  .three-column-page-image-container {
    top: -15%;
    margin-right: -20%;
    contain: content;
    height: 100%;
    width: 80%;
  }
}
@media screen and (min-width: 1500px) {
  .main-page-content {
    margin-top: 10rem;
    grid-area: main;
  }
  .three-column-page {
    justify-content: space-between;
    margin-top: 10rem;
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    flex-direction: row;
    padding: 1rem 0;
    text-align: left;
  }

  .three-column-page-text {
    width: 50%;
  }

  .three-column-page-image-container {
    top: -15%;
    margin-right: 10%;
    contain: content;
    height: 100%;
    width: 30%;
  }
  .home-component {
    background-color: #1d425d;
    grid-row: 1 / -1;

    grid-column: 1 / -1;
    text-align: center;
  }
}
