@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oranienbaum&family=Oswald:wght@200;400;500&display=swap');
.container{

    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('img/tear_tan.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.logo {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 210px;
    height: 180px;

}
.main-page-content {


    background-color: transparent;
}

.link {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-decoration: none;
    margin: 0.3rem;
   color: #d0c6b7


}
.link:hover {
     text-decoration: underline;
 }
a:visited{

    text-decoration: none;
    margin: 0.3rem;
    color: #d0c6b7
}


h1 {
    color: #62707e;
    font-family: 'Oranienbaum', serif;
    font-size: 2rem;
    line-height: 3.5rem;
}

p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #62707e;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
}

@media screen and (min-width: 850px) {

    .main-page-content{
        margin-top: -10rem;
    }
    p{
        font-size: 30px;
    }

    h1{
        font-size: 50px;
    }

    .link{
        font-size: 40px;
    }

}


@media screen and (min-width: 1150px) {

.main-page-content{
    margin-top: -15rem;
}

    p{
        font-size: 1rem;

    }

    h1{
        font-size: 2rem;
    }

    .link{
        font-size: 2rem;
    }
}

